table{
    border: 2px solid black;
    margin: auto;
    margin-bottom: 100px;

}
#edit_form{
    display: none;
}
td{
    width: 70px;
    border: 1px solid black;
}
.edit_btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 0;
}
.delete_btn{
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 0;
}
input{
    margin: 20px;
}
#search{
    width: 300px;
    margin-left: 540px;
    margin-top: 200px;
}